POSTGRES_DB=my_db
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

JWT_SECRET_KEY=c44e3ea4ce27f5bbeda8d2d58aabe4f1dab32e4cae45efc1603fc00a73009fb1