database_write_url=postgresql://your_user:your_password@haproxy:5432/your_db
database_read_url=postgresql://your_user:your_password@haproxy:5433/your_db
RABBITMQ_URL=amqp://your_user:your_user@rabbitmq:5672/
REDIS_URL=redis://redis:6379/1
log_dir=./logs