database_write_url=postgresql://your_login:your_password@your_host:5432/your_db
database_read_url=postgresql://your_login:your_password@your_host:5432/your_db
RABBITMQ_URL=amqp://your_user:your_user@rabbitmq:5672/
LOG_DIR=./logs